dsdobjects == 0.8 # library is expected to evolve further, potentially breaking backward compatibility 
peppercornenumerator
git+https://github.com/DNA-and-Natural-Algorithms-Group/crnverifier.git # TODO: move to optional reqs

numpy
pandas
matplotlib

notebook # TODO: move to optional reqs